.sliderContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
<<<<<<< HEAD
  background-color: transparent;
=======
  background-color:transparent;
>>>>>>> 400bb3c3ba8d5f06b5ac2143c55eaebe926609e5
}
.sliderContainer:hover .arrow {
  opacity: 1;
  pointer-events: auto;
}
.slider {
  flex: 1;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 16px 0;
  padding-left: 16px;
  margin-left: 16px;
  scrollbar-width: none;
  width: 100%;
  flex-wrap: nowrap;
  align-items: stretch;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider .card {
  z-index: 2;
}
.arrow {
  height: 100%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0);
  color: white;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 3;
  transition: opacity 0.3s ease;
  line-height: 1;
}

.arrow:first-of-type {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    padding-left: 16px;
}
.arrow:last-of-type {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

  padding-right: 16px;
}

@media (max-width: 768px) {
  .arrow {
    display: none;
  }
}